body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363844;
  text-align: center;
  display: grid;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
}

#drum-machine{
  margin-top: 50px;

}
button{
  color: aliceblue;
  font-size: large;
  font-weight: 900;
  align-items: center;
  border-radius: 28px;
  background: linear-gradient(145deg, #3a3c49, #31323d);
  box-shadow:  13px 13px 15px #16161b,
             -13px -13px 15px #565a6d;
  height: 100px;
  justify-content: center;
  margin-right: 4rem;
  width: 100px;
  margin: 7px;
  border-style: none;
}

#controller{
  margin-top: 30px;
  height: 120px;
  color: aliceblue;
  font-size: large;
  font-weight: 900;
  background-color: #27272b;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  
}

#controller button{
  font-size: small;
  height: 30px;
  width: auto;
  box-shadow:  none;
  margin: 0px;
  margin-top: 10px;
  border-radius: 5px;

}


#controller button:active{
  border-radius: 26px;
  background: #363844;
  box-shadow: inset 12px 12px 24px #16161b,
            inset -12px -12px 24px #565a6d;
}



.keyboard{
  display: grid;
  grid-gap: 6px;
  grid-template-columns: 4fr 4fr 4fr;
  
}
  #controller h3{
  width: auto;
  padding-top: 10px;
}

button:active {     
  border-radius: 26px;
  background: #363844;
  box-shadow: inset 12px 12px 24px #16161b,
            inset -12px -12px 24px #565a6d;    
}