body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #363844;
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content:center;
  align-content:center;
  
}

#drum-machine{
  margin-top: 50px;
  padding: 20px;

}
button{
  color: aliceblue;
  font-size: large;
  font-weight: 900;
  align-items: center;
  border-radius: 28px;
  background: linear-gradient(145deg, #3a3c49, #31323d);
  box-shadow:  13px 13px 15px #16161b,
             -13px -13px 15px #565a6d;
  height: 100px;
  margin-right: 4rem;
  width: 100px;
  margin: 7px;
  border-style: none;
}

#controller{
  margin-top: 30px;
  height: 120px;
  color: aliceblue;
  font-size: large;
  font-weight: 900;
  justify-content: center;
  width: 100%;
  border-radius: 13px;
  background: #363844;
  box-shadow: inset 14px 14px 25px #2e303a,
              inset -14px -14px 25px #3e404e;
  
}

#controller button{
  font-size: small;
  height: 30px;
  width: auto;
  box-shadow:  none;
  margin: 0px;
  margin-top: 10px;
  border-radius: 26px;
background: linear-gradient(145deg, #3a3c49, #31323d);
box-shadow:  5px 5px 10px #16161b,
             -5px -5px 10px #565a6d;

}


#controller button:active{
  border-radius: 26px;
  background: #363844;
  box-shadow: inset 12px 12px 24px #16161b,
            inset -12px -12px 24px #565a6d;
}




.myFlex{
  width: 400px;
}
  #controller h3{
  width: auto;
  padding-top: 10px;
}

button:active {     
  border-radius: 26px;
  background: #363844;
  box-shadow: inset 12px 12px 24px #16161b,
            inset -12px -12px 24px #565a6d;    
}
